@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #18181b;
}
#container{
    display: flex;
    align-items: center;
    gap: 3.5rem;
}
#img img{
    width: 32rem;
}
#calculator{
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    color: #f8fafc;
    background-color: #262626;
    border-radius: 8px;
}
#form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
#title{
    font-size: 2.25rem;
    position: relative;
}
#title::after{
position: absolute;
content: '';
background-color: #16a34a;
width: 8rem;
height: 3px;
bottom: 0;
left: 0;
border-radius: 3px;
}
.input-box label{
    font-size: 1.1rem;
    color: #cbd5e1;
    font-weight: 500;

}
.input-field{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3f3f46;
    padding: 0.3rem;
    border-radius: 3px;
    margin-top: 3px;
}
.input-field span,
.input-field i {
    color: #cbd5e1;
    font-size: 1.3rem;
    padding: 0.6rem 1rem;
}
.input-field input{
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.3rem;
    color: #000;
    padding: 0 0.5rem;
    background-color: #fff;
    
}
.input-field input::-webkit-outer-spin-button,
.input-field input::-webkit-inner-spin-button {
    appearance: none;
}
.input-field input:focus {
    outline: none;
}
#calculate{
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #16a34a;
    color: #f8fafc;
    padding: 0.5rem 0;
    border-radius: 3px;
    cursor: pointer;
}
#result{
    display: flex;
    gap: 2rem;
    align-items: center;
    border-top: 1px solid #ffffff34;
    padding: 0.75rem 0;
}
#bmi{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2.25rem;

}
#bmi span:last-child{
    font-size: 0.875rem;
    color: #cbd5e1;
}
#description{
    width: 15.5rem;

}
#more_info{
    border-top: 1px solid #ffffff34;
    padding-top: 1.5rem;
}
#more_info a {
    color: #16a34a;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    font-size: 0.875rem;
    text-decoration: none;
    transition: color 0.5s;
}
#more_info a:hover{
    color: #cbd5e1;
}
.hidden{
    display: none;
}
.normal{
    color: #16a34a;
}
.attention{
    color: #dc2626;
}
@media screen and (max-width: 1024px) {
    #img{
        display: none;
    }
}
@media screen and (max-width: 500px) {
    #container{
        width: 100%;
        height: 100%;
    }
    #calculator{
        width: 100%;
        height: 100%;
        border-radius: 0;
        justify-content: center;
    }
    
}

.search-container {
    display: flex;
    align-items: center;
    width: 100%;
}

#searchInput {
    padding: 8px;
    margin-right: 8px;
    width: 100%;
}

#searchButton {
    padding: 8px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #2980b9;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preço,
.total-circulante,
.cap-mercado {
    text-align: center;
    margin-bottom: -4px; /* Adiciona um espaçamento inferior para separar as divs verticalmente */
}

.total-circulante,
.cap-mercado {
    width: calc(50% - 5px); /* Define a largura para ocupar metade da largura da tela com uma margem de 5px */
}

.total-circulante {
    text-align: left; /* Alinha o texto à esquerda dentro da div */
    margin-right: auto; /* Move a div para a borda esquerda */
}

.cap-mercado {
    text-align: right; /* Alinha o texto à direita dentro da div */
    margin-left: auto; /* Move a div para a borda direita */
    margin-top: -65px; /* Move a div para cima */
}

/* Adiciona uma regra de estilo para ajustar a largura das divs em telas menores */
@media screen and (max-width: 700px) {
    #calculator {
        width: 100%;
        padding: 1rem;
        border-radius: 0;
    }
}


.container1 {
    display: flex;
    gap: 400px;
}

.div1, .div2 {
    flex: 1; /* Cada div terá a mesma largura */
    margin: 10px; /* Adiciona uma margem entre as divs (pode ajustar conforme necessário) */
}

@media screen and (max-width: 700px) {
    #title {
        font-size: 1.5rem;
    }

    .input-box label {
        font-size: 1rem;
    }

    .input-field {
        padding: 0.2rem;
        margin-top: 13px;
    }

    .input-field span,
    .input-field i {
        font-size: 1rem;
        padding: 0.4rem 0.6rem;
    }

    .input-field input {
        font-size: 1rem;
    }

    #calculate {
        font-size: 1rem;
        padding: 0.4rem 0;
    }

    #bmi {
        font-size: 1.75rem;
    }

    #bmi span:last-child {
        font-size: 0.75rem;
    }

    #result {
        gap: 1rem;
        padding: 0.5rem 0;
    }

    #more_info a {
        font-size: 0.75rem;
    }

    .container1 {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
    }

    .div1, .div2 {
        flex: 1;
        margin: 5px;
    }
}
